.dog-card {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 0 auto;
}

.dog-card img { 
  filter: grayscale();
  transition: 0.4s filter ease;
  max-height: 350px;
  object-fit: cover;
  object-position: top;
}

.dog-card:hover img {
  filter: none;
}
